<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Biblioteca de libros</title>
</head>
<body>

        <p align="center">
        <label for="edNombre"> Nombre:  </label>
        <input type="text" id="edNombre" name="edNombre" value={{ editorial.nombre }} readonly>
         </p>

        <p align="center">
        <label for="edApellidos"> Código de editorial: </label>
        <input type="text" id="edApellidos" name="edApellidos" value={{ editorial.codigoEditorial }} readonly>
         </p>






</body>
</html>