<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Biblioteca de libros</title>
</head>
<body>

        <p align="center">
        <label for="edNombre"> Nombre:  </label>
        <input type="text" id="edNombre" name="edNombre" value={{ escritor.nombre }} readonly>
         </p>

        <p align="center">
        <label for="edApellidos"> Apellidos: </label>
        <input type="text" id="edApellidos" name="edApellidos" value={{ escritor.apellidos }} readonly>
         </p>

        <p align="center">
        <label for="edEdad"> Edad: </label>
        <input type="text" id="edEdad" name="edEdad" value={{ escritor.edad }} readonly>
         </p>




</body>
</html>